<div class="container">
    <div *ngIf="items.length==0">
        No items
    </div>
    <div class="row">
        <div class="card item-box col-lg-3" *ngFor="let item of items">
            <div class="img-box align-items-center">
                <img src={{item.coverImage}} class="card-img-top item-img">
            </div>
            <div class="card-body card-box">
                <a class="card-title item-name" (click)="onClickItem(item)">{{item.name}}</a>
                <p class="card-text">{{item.price | currency:'EUR'}}</p>
                <p class="card-text">{{item.pseudo}}</p>
                <p class="card-text">{{item.description}}</p>
            </div>
        </div>
    </div>