#contactList {
    width: 300px;
}

.conversation-avatar {
    justify-content: center;
    margin: auto;
}

.last-message-content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}