<p>item-detail</p>
<div>
    <div class="card-body">
        <div class="item-images">
            <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                    <div class="picsum-img-wrapper img-box d-flex align-items-center">
                        <img nz-image [nzSrc]="image" class="item-images" alt="Random first slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="item-info">
            <p>{{item.name}}</p>
            <p>{{item.price | currency:'INR'}}</p>
            <p>{{item.pseudo}}</p>
            <p>{{item.description}}</p>
        </div>
    </div>
</div>