<div class="fixed-header">
    <mat-toolbar color="accent">
        <div routerLink='/items'>
        <span>Depay</span>
    </div>
        <span class="spacer"></span>
        <mat-form-field>
            <input type='search' matInput [(ngModel)]="search">
            <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)='onClickSearch()'>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <button mat-icon-button="" aria-label="message" (click)='onClickMessage()'>
            <mat-icon [matBadge]="unread" *ngIf="unread!==0" matBadgeColor="warn">message</mat-icon>
        </button>

        <a routerLink="/user" style="border-radius:50%;">
            <img src="../../../../assets/0_wZAcNrIWFFjuJA78.jpg" style="border-radius:50%;" width="30" height="30" alt="">
        </a>
    </mat-toolbar>
</div>